{% comment %} {% extends 'college/homebase.html' %} {% endcomment %}
{% include "college/index_nav.html" %}
{% block content %}

<br>
<br>

<div class="" style="margin-bottom:0px; text-align:center;">
  <br><br><br>
  <h1 class="display-4" >Welcome</h1>
  <p>You can access various features after Login/SignUp.</p>
  
  <br><br><br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
