
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% comment %} <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> {% endcomment %}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
    
  </style>
</head>
<body>
    {% include "college/navbar_staff.html" %}
    <br>
    <br>
   
    <div class="row">
        <div class="col-md-6 m-auto col-sm-6">
            <div class="container" style="margin-top: 0px;">
    <table style="border: 1px solid #000;" class="table table-bordered " >
        <thead class="table-active">
            <tr><th style="text-align: center" colspan="7">View Appointment</th></tr>
            <tr>
            <th>Staff Name</th>
            <th>Event Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status HOD</th>
            <th>Status Principal</th>
            </tr>
        </thead>
        <tbody>
            {% for a in appointments %}
            <tr>
              <td> {{a.staffName}}</td>
              <td>{{a.description}}</td>
              <td>{{a.start_date}}</td>
              <td>{{a.end_date}}</td>
              {%if a.status%}
              <td> <span class="progress-bar bg-primary rounded">Confirmed</span></td>
              {% else %}
              <td> <span class="progress-bar bg-success rounded">Pending</span></td>
              {% endif %}
        
      
            {%if a.status2 %}
            <td> <span class="progress-bar bg-primary rounded">Confirmed</span></td>
            {% else %}
            <td> <span class="progress-bar bg-success rounded">Pending</span></td>
            {% endif %}
                </tr>
            {% endfor %}
      </table>
    </div>
</div>
</div>

     
</body>
</html>